/* =============================================================

	Kraken v3.0
	A lightweight front-end boilerplate by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/


	# Colors
	Primary (Blue): #0088cc
	Secondary (Dark Blue): #005580
	Black: #272727
	White: #ffffff
	Gray: #808080
	Light Gray: #e5e5e5

	# Font Stack
	Sans-Serif (default): "Helvetica Neue", Arial, sans-serif
	Serif (suggested): Georgia, Times, serif
	Monospace: Menlo, Monaco, "Courier New", monospace

	# Typographic Scale
	line height: 1.5 on small screens, 1.5625 on big screens
	px:  1,     4,   5,     8,  9,     11,    12,  13,    15,   16, 19,     21,     24,  28,   32, 48, 64, 80, 96
	em: .0725, .25, .3125, .5, .5625, .6875, .75, .8125, .9375, 1,  1.1875, 1.3125, 1.5, 1.75, 2,  3,  4,  5,  6

 * ============================================================= */

@import
	"config",
	"mixins",
	"components/reset",
	"components/grid",
	"components/typography",
	"components/code",
	"components/buttons",
	"components/forms",
	// "components/icons",
	// "Import add-ons here...",
	"components/overrides",
	"components/print";
