/**
 * @section Grid
 * Structure and layout
 */

/**
 * Base wrapper class
 */
.container {
	@extend .clearfix;
	margin-left: auto;
	margin-right: auto;
	max-width: $container-max-width;
	width: $container-width;
}


/**
 * Grids
 */

@media (min-width: $bp-medium) {

	.row {
		display: flex;
		margin-left: -0.4375em;
		margin-right: -0.4375em;
		justify-content: space-between;
	}

	.row-reverse {
		flex-direction: row-reverse;
	}

	.grid-auto,
	.grid-fourth,
	.grid-third,
	.grid-two-thirds,
	.grid-half,
	.grid-three-fourths {
		margin-left: 0.4375em;
		margin-right: 0.4375em;
	}

	.grid-auto {
		flex: 1 1;
	}

	.grid-fourth {
		width: 25%;
	}

	.grid-third {
		width: 33.33333%;
	}

	.grid-two-thirds {
		width: 66.66666%;
	}

	.grid-half {
		width: 50%;
	}

	.grid-three-fourths {
		width: 75%;
	}

	.grid-first {
		order: -1;
	}

	.grid-last {
		order: 1;
	}

}