/* =============================================================
	ICONS
	A placeholder for icon fonts.
	Change font names and URLs as need.
	Learn more at http://gomakethings.com/icon-fonts/
 * ============================================================= */

/*	@font-face mixin */
@include font-face('icomoon', '../fonts/icomoon', normal, normal);

/*	Assign icon font to icons */
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

/*	Define specific characters for each icon */
/*	`.font-face` class added by `feature-test.js` */
.font-face .icon-NAMESPACE:before { content: ""; }

/*	Text that displays when @font-face is unsupported.
 *	Also provides assistance for screen readers. */
.font-face .icon-fallback-text {
	position: absolute;
	top: -9999em;
	left:-9999em;
}