/* =============================================================

	Kraken v3.0
	A lightweight front-end boilerplate by Chris Ferdinandi.
	http://gomakethings.com

	Free to use under the MIT License.
	http://gomakethings.com/mit/


	# Colors
	Primary (Blue): #0088cc
	Black: #272727
	White: #ffffff
	Success (Green): #377f31;
	Danger (Red): #880e14;
	Warning (Yellow): #dba909;
	Code (Fuscia): #dd1144;
	Gray (Dark): #808080
	Gray (Light): #e5e5e5

	# Font Stack
	Sans-Serif (default): "Helvetica Neue", Arial, sans-serif
	Serif (suggested): Georgia, Times, serif
	Monospace: Menlo, Monaco, "Courier New", monospace

	# Typographic Scale
	(For math purposes. Actual font sizes in ems.)
	1px, 4px, 5px, 8px, 9px, 11px, 12px, 13px, 15px, 16px, 19px, 21px, 24px, 28px, 32px, 48px, 64px, 80px, 96px
	line height: 1.5em on small screens, 1.5625em on big screens

 * ============================================================= */

@import
	"config",
	"mixins",
	"components/reset",
	"components/grid",
	"components/typography",
	"components/code",
	"components/prism",
	"components/buttons",
	"components/forms",
	"components/icons",
	"components/tables",
	"components/backgrounds",
	"components/hero",
	"components/labels",
	// "components/tables", // Rebuild ASAP!
	// "Import add-ons here...",
	"components/overrides",
	"components/print";
