/* =============================================================
	ALIGNMENT, SPACING & VISIBILITY
	Override default alignment, spacing and visibilty.
 * ============================================================= */

/*  Text alignment */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}


/*  Floats */

.float-left {
	float: left;
}

.float-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.float-right {
	float: right;
}


/*  Spacing */

.no-space {
	margin: 0;
	padding: 0;
}

.no-space-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.no-space-top {
	margin-top: 0;
	padding-top: 0;
}

.space-bottom {
	margin-bottom: calc-em(32px);
}

.space-bottom-small {
	margin-bottom: calc-em(8px);
	padding-bottom: 0;
}

.space-top {
	padding-top: calc-em(13px);
}


/*  Screen Reader Text */

.screen-reader {
	position: absolute;
	top: -9999em;
	left:-9999em;
}


/*  Clearfix */
/* @todo figure out how to extend so these can go with their appropriate containers */
.group:before,
.group:after,
.container:before,
.container:after,
.row:before,
.row:after {
	display: table;
	content: "";
}

.group:after,
.container:after,
.row:after {
	clear: both;
}