/**
 * @section Alignment, Spacing, & Visibility
 * Override defaults.
 */

/**
 * Text alignment
 */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}


/**
 * Floats
 */

.float-left {
	float: left;
}

.float-center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.float-right {
	float: right;
}


/**
 * Spacing
 */

.no-space {
	margin: 0;
	padding: 0;
}

.no-space-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.no-space-top {
	margin-top: 0;
	padding-top: 0;
}

.space-bottom {
	margin-bottom: calc-em(32px);
}

.space-bottom-small {
	margin-bottom: calc-em(8px);
	padding-bottom: 0;
}

.space-top {
	padding-top: calc-em(13px);
}


/**
 * Visibility
 */

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/**
 * @workaround
 * @affected IE 8/9/10
 * @link http://juicystudio.com/article/screen-readers-display-none.php
 */
[hidden] {
	display: none;
	visibility: hidden;
}


/**
 * Clearfix
 */

.group:before,
.group:after {
	display: table;
	content: "";
}

.group:after {
	clear: both;
}