/**
 * @section SVGs
 * SVG icon sprite styling.
 * @link http://css-tricks.com/svg-sprites-use-better-icon-fonts/
 * @link http://css-tricks.com/svg-use-external-source/
 */

/**
 * Hide icons by default to prevent blank spaces in unsupported browsers
 */
.icon {
	height: 0;
	width: 0;
}

/**
 * Display icons when browser supports SVG.
 * Inherit height, width, and color.
 */
.svg .icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/**
 * Hide fallback text if browser supports SVG
 */
.svg .icon-fallback-text {
	@extend .screen-reader;
}