/**
 * @section SVGs
 * A placeholder for SVG icon sprite styling.
 * @link http://css-tricks.com/svg-sprites-use-better-icon-fonts/
 */

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}