/**
 * @section Typography
 * Sets font styles for entire site
 */

body {
	background: $color-white;
	color: $color-black;
	font-family: $font-primary;
	font-size: $font-size;
	line-height: 1.5;

	@media (min-width: $bp-medium) {
		line-height: 1.5625;
	}
}

p {
	margin: 0 0 $spacing;
}


/**
 * Hyperlink styling
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent; /* 1 */
	color: $color-primary;
	text-decoration: none;
	text-decoration-skip: objects; /* 2 */
	word-wrap: break-word;

	/**
	 * Improve readability when focused and also mouse hovered in all browsers.
	 */
	&:active,
	&:hover {
		outline: 0;
	}

	&:active,
	&:focus,
	&:hover {
		color: darken( $color-primary, 15% );
		text-decoration: underline;
	}
}


/**
 * Creates block-level links
 */

a.link-block {
	color: $color-black;
	display: block;
	text-decoration: none;
}

.link-block-styled {
	@extend a;

	.link-block:hover & {
		@extend a:hover;
	}
}


/**
 * List styling
 */

ul,
ol {
	margin: 0 0 $spacing 2em;
	padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

dl,
dd {
	margin: 0;
	padding: 0;
}

dd {
	margin-bottom: $spacing;
}

dt {
	font-weight: bold;
}

/**
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
%list-style-none {
	list-style: none;

	& > li:before {
		content: "\200B"; /* 1 */
		position: absolute; /* 2 */
	}
}

/**
 * Removes list styling.
 * For semantic reasons, should only be used on unordered lists.
 */
.list-unstyled {
	@extend %list-style-none;
	margin-left: 0;
}

/**
 * Display lists on a single line.
 */

.list-inline {
	@extend %list-style-none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0;
}

.list-inline > li {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
}


/**
 * Heading styling for h1 through h6 elements.
 * Heading class lets you use one heading type for semantics, but style it as another heading type.
 */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.2;
	margin: 0 0 1em;
	padding: 1em 0 0;
	word-wrap: break-word;
}

h1,
.h1 {
	font-size: 1.5em;
	padding-top: .5em;

	@media (min-width: $bp-medium) {
		font-size: 1.75em;
	}
}

h2,
.h2 {
	font-size: 1.3125em;
}

h3,
.h3 {
	font-size: 1.1875em;
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: 1em;
}

h4,
.h4 {
	text-transform: uppercase;
}


/**
 * Lines, Quotes and Emphasis
 */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	border: 0;
	border-top: 1px solid $color-gray-light;
	border-bottom: 0 solid transparent;
	box-sizing: content-box; /* 1 */
	margin: 2em auto;
	overflow: visible; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
	font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
	font-style: italic;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
	background: #fbf9c9;
	color: $color-black;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


/**
 * Blockquotes
 */

blockquote {
	font-size: 1.1875em;
	font-style: italic;
	margin: 0 0 $spacing;
	padding-left: 0.8421052632em;
	padding-right: 0.8421052632em;

	cite {
		color: $color-gray-dark;
		font-size: 0.8421052632em;
		padding-top: 1em;
	}
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
}