/* =============================================================
	TYPOGRAPHY
	Sets font styles for entire site.
 * ============================================================= */

body {
	font-family: $font-primary;
	font-size: $font-base;
	line-height: 1.5;
	color: $color-black;
	background: $color-white;
}

p {
	margin-bottom: $spacing;
}

@media (min-width: $bp-medium) {
	body {
		line-height: 1.5625;
	}
}


/*  Sizes
 *  For smaller and larger text */

.text-small {
	font-size: calc-em(15px);
}

.text-tall {
	font-size: calc-em(19px);
	line-height: 1.4;
}

.text-taller {
	font-size: calc-em(32px);
	line-height: 1.4;
}

@media (min-width: $bp-medium) {
	.text-tall {
		font-size: calc-em(21px);
	}

	.text-taller {
		font-size: calc-em(48px);
	}
}


/*  Colors
 *  For alternate text colors */

.text-muted {
	color: $color-gray-dark;
}


/*  Links
 *  Hyperlink styling */

a {
	color: $color-primary;
	text-decoration: none;
	word-wrap: break-word;
}

a:hover {
	color: darken( $color-primary, 15% );
	text-decoration: underline;
}

a.current,
a.current:hover {
	pointer-events: none;
	cursor: not-allowed;
	color: $color-gray-dark;
	text-decoration: none;
}

a img {
	border: none;
	background: none;
}

/*  Prevents border/background on linked image hover.
 *  Adds slight opacity. */
a:hover img {
	border: none;
	background: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
}


/*  Lists
 *  Styling for lists */

ul,
ol,
dl {
	margin-bottom: $spacing;
	margin-left: calc-em(32px);
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dl {
	margin-left: 0;
}

dt {
	font-weight: bold;
}

/*  Removes list styling.
 *  For semantic reasons, should only
 *  be used on unordered lists. */
.list-unstyled {
	margin-left: 0;
	list-style: none;
}


/*  Headings
 *  h1 through h6 styling
 *  Heading class lets you use one heading type for semantics
 *  but style it as another heading type. */

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: normal;
	margin-bottom: 1em;
	padding-top: 1em;
	text-align: center;
}

h1,
.h1 {
	font-size: calc-em(24px);
	padding-top: .5em;
}

h2,
.h2 {
	font-size: calc-em(21px);
}

h3,
.h3 {
	font-size: calc-em(19px);
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: calc-em(15px);
}

h4,
.h4 {
	text-transform: uppercase;
}

@media (min-width: $bp-medium) {
	h1,
	.h1 {
		font-size: calc-em(28px);
	}
}


/*  Lines, Quotes and Emphasis */

/*  Lines */
hr {
	margin: calc-em(32px) auto;
	border: 0;
	border-top: calc-em(1px) solid $color-gray-light;
	border-bottom: 0 solid $color-white;
}

/*  Bold */
strong {
	font-weight: bold;
}

/*  Italics */
em {
	font-style: italic;
}

/*  Subscript & Superscript */
sub,
sup {
	position: relative;
	font-size: 85%;
	font-weight: bold;
	line-height: 0;
	vertical-align: baseline;
	margin-left: calc-em(4px);
}

sup {
	top: calc-em(-8px);
}

sub {
	bottom: calc-em(-4px);
}

/*  Highlighting colors */
::selection {
	color: $color-white;
	background: $color-primary;
}

::-moz-selection {
	color: $color-white;
	background: $color-primary;
}

/*  Blockquotes */
blockquote {
	border-left: calc-em(4px) solid $color-gray-light;
	margin-bottom: $spacing;
	padding-left: $spacing;
	padding-right: $spacing;
}

blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}